body {
    background-color: black;
    width: 360px;
    text-align: center;
    margin: auto;
}
.clickMes {
    color: white;
    font-size: 13pt;
    text-decoration: none;
    font-weight: 600;
    padding: 3px;
}

.clickMes:active {
    color: cyan;
}

.clickMes:hover {
    animation: clickmes 1.3s infinite;
}

@keyframes clickmes {
    0% {
        background-color: none;
    }
    50% {
        background-color: cyan;
    }
    100% {
        background-color: none;
    }
}

.life {
    font-size: 12pt;
    color: white;
    width: 70px;
    margin: 0 auto;
}

.move {
    position: relative;
    top: 10px;
}

.firecrack {
    background: url(../../Pics/fireworks.gif) 810px 400px !important;
   
}
div#cards {
    border: 2px black solid;
    width: 308px;
    height: 155px;
    background: linear-gradient(black, cyan, black);
    margin: auto;
}

div#cards > div {
    border: 1px black solid;
    height:55px;
    width:55px;
    background: url('../../Pics/fire.jpg') no-repeat;
    background-size: 60px 60px;
    margin: 10px;
    float: left;
    line-height: 2.3;
    text-align:center;
    font-size: 16pt;
    cursor: pointer;
}

#winner {
    position: relative;
    font-size: 18pt;
    text-align: center;
    bottom: 100px;
    color: white;
    text-shadow: 3px 3px 5px cyan;
    width: 310px;
    margin:auto;
}

#reset {
   position: relative;
    margin:auto;
    bottom: 100px;
    background-color: rgba(0, 0, 255, 0.73);
    color: white;
    outline: none;
    border-radius: 40px;
    padding: 2px 20px;
    font-size: 16pt;
}

#textAlign {
    position: relative;
    margin: auto;
     width: 310px;  
    text-align: center;
}
