* {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

::-webkit-scrollbar{
    min-width: 10px;
}

::-webkit-scrollbar-thumb { 
    background-color: rgb(0, 0, 110);
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover{
    background-color: black;
     
}
::-webkit-scrollbar-thumb:active{
    background-color: white;
     
}
::-webkit-scrollbar-track {
    background-color: #a0a0a0;
    border-radius: 5px
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px 7px;
}

/*here is where I change the background color of section*/

#pos { 
    position: relative;
    margin: auto;
    max-width: 360px;
    height: 280px;
    z-index: 0;
     background-image: url(../Pics/Coding_Tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

hr {
    width: 30px;
    height: 2px;
    background-color: grey;
    margin-bottom: 5px;
    border-width: 0px;
} 

#item{
    position: relative;
    display: block;
    right: 45%;
    width: 30px;
    color: white;
}
#item:hover {
    display:block;
    width:30px;
    background-color: #5a5a5a; 
}
#subitem{
    display: none;
}
#subitem a{
    display: block;
}
.fixedNav {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
    z-index: 8;
    width: 100%;
    margin:0 auto;
    max-width: 320px;
    animation: fadedd 1s infinite;
}
@keyframes fadedd {
    0%{ background-color: rgba (0, 0, 0, 0)};
    100%{ background-color: rgba (0, 0, 0, 1)};
}
.underline {
    text-decoration: underline;
}
main {
    position: relative;
    background-color: rgb(108, 108, 108);
    margin: auto;
    width: 320px;
    height: auto;
    padding: 0 20px ;
}
body {
    position: relative;
    background-color: rgb(193, 193, 206);
    margin:0 auto;
    max-width: 360px;
}

nav {
    
    position: relative;
    padding: 10px 20px;
    margin: 0 auto;
    width: 320px;
    background-color: rgb(0, 0, 80);
}

.clickMes {
    display: inline-block;
    padding: 3px;
    background-color: rgb(0, 0, 80);
    color: white;
    font-size: 15pt;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
} 

.clickMes:active {
    color: cyan;
}

.clickMes:hover {
   background-color: rgb(0, 0, 160);
}

nav a{
    color: #FAFAFA;
    font-size: 18pt;
    text-decoration: none;
    margin: 10px;
}
nav li{
    display: block;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    background-color: #5E5E5E;
    transition: 0s;
    -moz-transition: 0s;
   -webkit-transition: 0s;
}

#img1 {
    opacity: 0;
}
#img4 {
    background-image: url(../Pics/app.JPG);
    background-size: 200px 105px;
    width: 200px;
    margin: 0;
    transition: 1s ease;
}
.slide {
    position: relative;

    animation: slideA 1.3s normal;
    opacity: 1;
}

.slideback {
    position: relative;

    animation: slideB .5s normal;
    opacity: 1;
}

@keyframes slideA {
    0% {
        opacity: 0;
        left: -600px;
    }
    100% {
        opacity: 1;
        left: 1px;
    }

}

@keyframes slideB {
    100% {
        opacity: 0;
        left: -600px;
    }
    0% {
        opacity: 1;
        left: 1px;
    }

}

/*img styling*/

#hea {
    color: white;
    font-size: 16pt;
    text-align: center;
    width: 300px;
    padding: 0;
}

header {
    position: relative;
    background-color:rgb(0, 0, 56);
    margin: auto;
    width: 320px;
}


footer {
    position: relative;
    background-color: #303030;
    margin: auto;
    font-size: 12pt;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

footer li {
    display: inline-block;
    text-decoration: none;    
}

#read {
    font-size: 16pt;
    color: white;
}

#li {
    position: relative;
    width: 120px;
    text-align: center;
    left: 20%;
}

#facebook {
    color: #4267b2;
}


#youtube {
    color: red;

}

#facebook:active {
    color: white;

}

small {
    color: white;
}


#youtube:active {
    color: white;

}

#linkedIn {
    color: #028181;
}

#linkedIn:active {
    color: white;
}

#github {
    color: purple;
}

#github:active {
    color: white;
}


/* About me */
#oneLine {
   padding: 90px 20px;
    color: white;
}

#me {
    position: absolute;
    left: 10px;
    top: 60px;
    opacity: 1;
    animation: cc 1s normal;
    width: 140px;
}

.h1 {
    position: relative;
    display: block;
    width: 180px;
    left: 80px;
}

.h1 h2 { 
    display: block;
}
.h1 h3 { 
    display: block;
}
.h1 a {
    color: white;
    text-decoration: none;
}
.h1 a:hover {
    background-color: gray;
}

@keyframes cc {
    0% {
        left: -200px;
        opacity: 0;
    }
    50% {
        position: absolute;
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
#video {
    position: relative;
    width: 260px;
    height: 115px;
}
/*Interest  */

#iback {
    background-image: url(../Pics/PsVr.JPG);
    background-repeat: no-repeat;
    background-color: #020239;
    background-size: cover;
    margin: auto;

}

#ivideo {
    position: relative;
    margin-bottom: 30px;
    left: 30%;
}

#ivideo2 {
    margin-top: 80px;
    position: relative;
    margin-bottom: 40px;

}

.smallP1 {
    position: absolute;
    width: 110px;
    right: 100%;
}

.smallP2 {
    position: absolute;
    width: 120px;
    left: 67%;
    font-size: 12pt;

}

/*Hobbies  */

/*Contacts  */

legend {
    text-shadow: 2px 2px 4px white;
    font-size: 34pt;
    font-weight: bold;
    animation: appear 2s normal;
}

form {
    position: relative; 
    animation: open 1s normal;
    font-size: 17pt;
    position: relative;
    margin: auto;
    width: 320px;
    background-color: rgba(200, 200, 208, 0.26);
}

@keyframes open {
    0% {
        height: 0;
    }
    100% {
        height: 518px;
    }
}

input {
    animation: appear 2s normal;
    width: 99%;
    border-radius: 5px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#EmailCenter {
    margin-top: 1%;
    width: 98.7%;
    border-radius: 5px;
    animation: appear 2s normal;
}

#submit {
    position: relative;
    width: auto;
    color: white;
    background-color: darkblue;
    outline: none;
    font-size: 16pt;
    padding: 5px;
    border-radius: 8px;
}

#submit:active{
    color: cyan;
    background-color: rgb(0, 0, 75);
}

#backgroundImg {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 1100px;
    left: 0;
    top: -250px;
}

/*Portfolio*/

#matchingCards {
    background-image: url(../Pics/app.JPG);
    background-size: cover;
    display: block;
    width: 100%;
    max-width: 360px;
    height: 160px;
}

#colorGame {
    background-image: url(../Pics/colors.JPG);
    background-size: cover;
    display: block;
    width: 100%;
    max-width: 360px;
    height: 210px;
}

#games {
    text-align: center;
    font-size: 16pt;
    max-width: 400px;
    width: 100%;
    color: white;
}

#games a {
    color: white;
    text-decoration: none;
}

#games a[href"#"]{
    text-decoration: none;
}

#games a:active {
    background-color: black;
}




