body{background-color: #0d153a;}

main {
    max-width: 600px;
    margin:0 auto;
}
h1 {
    text-align: center;
   color: white;
}
#message {
    color: black; 
}
body div {
    text-align: center;
}
.square{
    background-color: aqua;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 30px ;
}
#strip {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
